@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  /* Color */
  --ui-primary: #e87722;

  /* Text */
  --color-text-primary: #183028;
  --ui-text: #183028;

  /* Border */
  --color-border-primary: #d0d5dd;

  /* Background */
  --color-bg-primary: #d9d9d9;

  --container-lg: 100vw;

  /* Font Family */
  --font-family-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  background-color: #fef9f4;
  color: var(--ui-text, #183028);
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  @media (min-width: 1440px) {
    max-width: 1280px;
  }
  @media (min-width: 1920px) {
    max-width: 1440px;
  }
  @media (min-width: 2560px) {
    max-width: 1920px;
  }
}


.card-box {
  @apply space-y-4 bg-white p-4 m-6 rounded-lg;
}
